html {
    background-color: white;
}

.descricao {
    margin: 20px 10px;
    font-size: 20px;
}

header {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
}

body {
    justify-content: center;

}

.menu {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    width: 30%;
    background-color: grey;
    border: 3px solid black; /* Width style color*/
    margin: 10px;
    float: left;
}

.submenu_ch {
    font-weight: bold;
    font-size: 1.25em;
    float: right;
    background-color: pink;
    width: 35%;
    padding: 5px;
    text-align: center;
    border-style: solid;
    border-width: 0px 0px 3px 3px;
}

.submenu_be {
    font-weight: bold;
    font-size: 1.25em;
    float: right;
    background-color: red;
    color:white;
    width: 35%;
    padding: 5px;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 0px 0px 3px 3px;
}

.submenu_su {
    font-weight: bold;
    font-size: 1.25em;
    float: right;
    background-color:rgba(240, 230, 140, 0.822);
    color:black;
    width: 35%;
    padding: 5px;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 0px 0px 3px 3px;
}


@media (min-width: 768px) and (max-width: 991px) {

    #menu_ch {
        width: 46%;
    }

    #menu_be {
        width: 46%;
    }

    #menu_su {
        width: 95%;
    }

}

@media (max-width: 767px) {

    .menu {
        width: 98%;
    }
}